@charset "UTF-8";

body {
    font-family: 'Oxanium', cursive;
    background-color: #000000;
    color: #ffffff;
}

.cabecalho {
    display: flex;
    justify-content: center;
    background-color: #00ffff;
}

.selecao-de-personagens {
    
}